<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>backend.server.servlets.FrontControllerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/FrontControllerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitSimulationServlet</servlet-name>
        <servlet-class>backend.server.servlets.InitSimulationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitSimulationServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>


</web-app>